<%- include('../partials/head') %>

<main class="container product-detail-page">
 
  <h1><%= product.name %></h1>
   <div class="product-detail-wrapper">
   <!-- Linke Seite: Bild, new-->
    <div class="product-detail-image-box">
      <img src="<%= product.image %>" alt="<%= product.name %>" class="product-detail-image">
      
      <div class="product-buy-box">
        <p class="price">Preis: <%= product.price.toFixed(2) %> €</p>

         <!-- Menge -->
          <div class="buy-controls">
        <div class="quantity-control">
          <button id="plus" class="qty-btn">+</button>
          <span id="count">1</span>
          <button id="minus" class="qty-btn">-</button>
        </div>
        <!-- Warenkorb -->
        <form action="/produkte/<%= product.id %>/warenkorb" method="post">
          <a href="/warenkorb" class="cart-link">
  <i class="fa-solid fa-cart-shopping"></i> (<%= cartCount %>)
</a></form>
</div>
 <!-- Warenkorb -->
        <form action="/produkte/<%= product.id %>/warenkorb" method="post">
          <input type="hidden" name="quantity" id="quantityInput" value="1">
          <button type="submit" class="btn btn-primary cart-btn" <%= product.stock <= 0 ? 'disabled' : '' %>>
             In den Warenkorb
          </button>
        </form>


        <p class="stock">Lagerbestand: <%= product.stock %></p>
      </div>
    </div>

     <!-- Rechte Seite: Beschreibung -->
    <div class="product-detail-info">
      <p><%= product.description %></p>
    </div>

  </div>
</main>

<script>
  let count = 1;
  const countEl = document.getElementById("count");
  const quantityInput = document.getElementById("quantityInput");
   const minusBtn = document.getElementById("minus");
  const plusBtn = document.getElementById("plus");

   // Startzustand: minus deaktiviert
  minusBtn.disabled = true;

 plusBtn.addEventListener("click", () => {
    count++;
    countEl.textContent = count;
    quantityInput.value = count;

    if (count > 1) {
      minusBtn.disabled = false;
    }
  });

  minusBtn.addEventListener("click", () => {
    if (count > 1) {
      count--;
      countEl.textContent = count;
      quantityInput.value = count;
    }

    if (count === 1) {
      minusBtn.disabled = true;
    }
  }); 

</script>

<%- include('../partials/foot') %>
