<%- include('../partials/head') %>
<main class="container">
  <h1>Produktenes</h1>
  <div class="product nab buttons">
    <a href="#frauen" class="btn btn-primary">Frauen Produkte</a>
    <a href="#manner" class="btn btn-primary">Manner Produkte</a>
  </div>
  <div class="product-grid">
    <% products.forEach(function(p) { %>
      <article class="product-card">
         <!-- Produktbild -->
      <a href="/produkte/<%= p.id %>">
        <img src="<%= p.imagePath || '/uploadsProduct/produktPlaceholder.png' %>" alt="<%= p.name %>" class="product-image">
      </a>
        <h3><%= p.name %></h3>
        <p class="price"><%= p.price.toFixed(2) %> €</p>
      </article>
    <% }) %>
  </div>
  <h2 id ="frauen">Frauen Produkte</h2>
  <div class="product-grid">
  <% products.filter(p => p.category === "women").forEach(function(p) { %>
    <article class="product-card">
      <a href="/produkte/<%= p.id %>">
        <img src="<%= p.imagePath || '/uploadsProduct/produktPlaceholder.png' %>" alt="<%= p.name %>" class="product-image">
      </a>
      <h3><%= p.name %></h3>
      <p class="price"><%= p.price.toFixed(2) %> €</p>
    </article>
  <% }) %>
</div>



<h2 id="manner">Männer Produkte</h2>
<div class="product-grid">
  <% products.filter(p => p.category === "men").forEach(function(p) { %>
    <article class="product-card">
      <a href="/produkte/<%= p.id %>">
        <img src="<%= p.imagePath || '/uploadsProduct/produktPlaceholder.png' %>" alt="<%= p.name %>" class="product-image">
      </a>
      <h3><%= p.name %></h3>
      <p class="price"><%= p.price.toFixed(2) %> €</p>
    </article>
  <% }) %>
</div>  
  <% if (!user) { %>
    <p class="hint">Bitte <a href="/anmelden">anmelden</a>, um Produkte zu bestellen.</p>
  <% } %>
</main>
<%- include('../partials/foot') %>
